@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

body{
  font-family: 'Arimo', sans-serif;
  margin:0;
  padding:0;
  background-color: #202124;
}

header{
  display:flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin: 10px 20px;
}

header .right{
  display: flex;
  flex-wrap: wrap;
}


header p{
  margin-left: 15px;
  margin-right:10px;
  font-size:13px;
  color:#dadce0;
  cursor:pointer;
}

header p:hover{
  text-decoration: underline;
}

header.right .material-symbols-outlined{
  height:32px;
  width:32px;
  margin-left:15px;
  margin-right:10px;
  cursor:pointer
}

.connexion{
background: #8ab4f8;
background-size:auto;
font-size:14px;
box-sizing: border-box;
border: 1px solid transparent;
border-color: #dadce0;
box-shadow: none;
color: #202124;
text-decoration: black;
text-decoration: none;
margin-left : 8px;
margin-right: 8px;
border: 1px;
border-radius: 4px;
padding-left: 23px;
padding-top:9px;
padding-bottom:9px;
padding-right: 23px;;
}

.connexion :hover{
  text-decoration: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 100px;
}

.main .container{
  display: flex;
  flex-direction: column;
  width:40%;
}

.main .container input{
  margin-top: 20px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid rgb(95, 99, 104);
  background-color: #202124;
  outline:none;
  width:100%;
}
.main .container input:hover{
  -webkit-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.51);
box-shadow: 0px 0px 17px 7px rgba(0,0,0,0.51);

}

.main .container .camera {
  align-items: flex-start;
  width:25px;
  height:25px;
  margin-top:-17px;
  margin-left: 282px;
  margin-right: -20px;
}

.main .container .magnifying{
margin-top: 3px;
color: #9aa0a6;
align-items: flex-start;
width:25px;
height:25px;
margin-top:-37px;
margin-left: 15px;
margin-right: 10px;
}

.main .buttons{
margin-top: 20px;
margin-bottom: 220px;
}

.main .buttons button{
  background-color: #303134;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  border: 1px solid  #303134;
  border-radius: 4px;
  color: #e8eaed;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

.main .buttons button:hover{
  border:1px solid #e8eaed;;
}


.fr{
  background-color:#171717;
  color:#9aa0a6; 
}

.leaf{
  margin-right:6px;
  width: 12px;
  height:14px;
}
.fr p{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom : 1px solid #3c4043;
  font-size: 15px;
  color:#9aa0a6;
}

/* Espace trop large entre div fr et footer*/
/* Impossible d'utiliser flexbox pour empiler les 3 divs du footer*/
/* Le code à l'air de changer tout seul des fois :'( welp*/
footer {
   display: flex;
   flex-wrap:wrap;
    padding-left: 14px;
    width: 100%;
    color: white;
    background-color: #171717;
    
 }

 a{
    color:#9aa0a6;
  text-decoration: none;
  font-size:14px;
 }

 

.left-footer{
display:flex;
flex-wrap:wrap;
flex-direction: row;
width:45%;
order: 1;
}

.left-footer .element1, .element2, .element3, .element4{
  padding: 15px;
}


.center-footer{
display:flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: center;
order: 1;
width: 100%;

}

.center-footer .element5{
  padding:15px;
  margin-top:-8px;
}

.right-footer{
display: flex;
flex-wrap:wrap;
flex-direction: row;
justify-content: flex-end;
width:55%;
margin-left:690px;
order: 3;
}

.right-footer .element6, .element7, .element8, .element9, .element10{
  color:#9aa0a6;
  font-size:14px;
  padding: 15px;
}